@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

.flex-container{
    display: flex;
}
.left{
    border: 3px;
    border-style: solid;
    border-color: red;
    /* height: 150px; */
    height: auto;
    /* width: 150px; */
    width: 30%;
    background-color: aliceblue;
}

.right{
    border: 3px;
    border-style: dotted;
    border-color: blue;
    /* height: 150px; */
    height: auto;
    /* width: 150px; */
    width: 70%;
    background-color: yellow;
}

img{
    width: 90px;
    height: auto;
    margin: 20px 10px 20px 10px;
    border-radius: 50%;
    border-color: red;
    border-style: solid;
    border-width: 1px;
}

h1 {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}